absl-py==0.8.1
astor==0.8.0
backports.weakref==1.0.post1
certifi==2018.11.29
chardet==3.0.4
enum34==1.1.6
funcsigs==1.0.2
futures==3.1.1
gast==0.3.2
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
idna==2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.19.4
opencv-python==4.0.0.21
protobuf==3.10.0
requests==2.21.0
scipy==1.2.0
six==1.12.0
scikit-learn==0.23.2
joblib==1.0.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==2.4.0
termcolor==1.1.0
urllib3==1.25.7
pytz
torch==1.6.0
torchvision==0.7.0
matplotlib==3.3.2
Werkzeug==0.16.0
wrapt==1.11.2
pytesseract
